.home {
	background-image: url("./inc/images/pattern-texture-wall.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.pagination {
		margin: 20px auto;
	}
}
