.single-post {
	h1 {
		font-weight: 400;
		font-family: $primary-font;
	}

	.post-date {
		font-style: italic;
		font-size: 14px;
	}

	.post-content {
		line-height: 1.5;

		a {
			text-decoration: underline;
			transition: color 0.2s ease;
			&:hover {
				color: $primary-dark-color;
			}
		}

		p {
			margin-top: 0;
			margin-bottom: 24px;
			font-size: 18px;
		}
	}
	.gist {
		margin: 50px auto;

		p,
		span {
			font-family: $code-font;
		}
	}
}
