.card {
	background-color: $white;
	border: 1px solid $white;
	box-shadow: 0 0 4px 2px rgba($black, 0.1);

	margin-bottom: 30px;
	padding: 30px;

	.read-more {
		@extend .normal-link;
	}
}

.card-title {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: $h2-size;
	margin-bottom: 20px;
	a:hover {
		text-decoration: underline;
	}
}

.card-excerpt {
	margin-bottom: 20px;
}
