.card {
	background-color: $white;
	border: 1px solid $white;
	box-shadow: 0 0 4px 2px rgba($black, 0.1);

	margin-bottom: 30px;
	padding: 30px;

	.read-more {
		@extend .normal-link;
	}
}

.card-title {
	margin-bottom: 20px;
	a {
		font-family: $primary-font;
		font-weight: 400;
		font-size: $h2-size;
	}
	a:hover {
		text-decoration: underline;
	}
}

.card-excerpt {
	margin-bottom: 20px;
	line-height: 1.5;
}
