body {
	background-color: $primary-color;
}
#content {
	padding: 50px 20px;
}

a {
	color: $black;
}

p,
span {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}
.normal-link {
	color: $black;
	position: relative;
	font-family: "Roboto", sans-serif;
	font-weight: 400;

	&:after {
		content: "";
		position: absolute;
		display: block;
		left: 50%;
		bottom: -2px;
		width: 0;
		height: 2px;
		background-color: $black;
		transform: translateX(-50%);
		transition: width 0.2s ease;
	}

	&:hover:after {
		width: 100%;
	}
}

.button-link {
	border: 1px solid $black;
	color: $black;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	padding: 5px 20px;

	&:hover {
		background-color: rgba($primary-dark-color, 0.5);
	}
}

.next-posts,
.prev-posts {
	@extend .button-link;
}

blockquote {
	padding-left: 30px;
	border-left: 3px solid $primary-dark-color;
	p {
		font-weight: 400;
		font-style: italic;
	}
}

code {
	font-family: $code-font;
	font-size: 16px;
	background-color: rgba($black, 0.05);
	padding: 3px 4px;
	margin: 0 2px;
}
