/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
$white: #fff;
$black: #000;

$primary-color: #e0e0e0;
$primary-dark-color: #aeaeae;
/*--------------------------------------------------------------
# Breaking point
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# font size
--------------------------------------------------------------*/
$h1-size: 4rem;
$h2-size: 3rem;

$copy-size: 1.6rem;

/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/
$primary-font: "Lato", sans-serif;
$code-font: Menlo, Monaco, "Courier New", Courier, monospace;
