/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
$white: #fff;
$black: #000;
$color-900: #263238;
$color-800: #37474f;
$color-700: #455a64;
$color-600: #546e7a;
$color-500: #607d8b;
$color-400: #78909c;
$color-300: #90a4ae;
$color-200: #b0bec5;
$color-100: #cfd8dc;
/*--------------------------------------------------------------
# Breaking point
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# font size
--------------------------------------------------------------*/
$h1-size: 6rem;
$h2-size: 4rem;

$copy-size: 1.6rem;

/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/
